@page
@using System.Text.Json
@using BattleshipBrain
@model WebApp.Pages.Games.Play.IndexModel

<style>    
   .bs-cell {
       height: 40px; 
       width: 40px;
       cursor: pointer;
   }
</style>

@{
    ViewData["Title"] = "Index";
    String boardJson = JsonSerializer.Serialize(Model.Board);
    BoardSquareState bss;
}

<h1>Play this game</h1>

<p>Board is iterated here and redirected to games after that.</p>

<table class="table-bordered">
    
    @foreach (var row in Model.Board.Rows!)
    {
        <tr>
                @foreach (var coord in row.Coordinates)
                {
                    bss = coord.BoardSquareState;
                    <td onclick="window.location='?x=@coord.X&y=@coord.Y&id=@Model.GameId&move=true'" class="bs-cell">
                        
                        @if (bss.IsBomb)
                        {
                            <text>on pomm</text>
                        }
                        else
                        {
                            <text>x: @coord.X <br/>y: @coord.Y</text>
                        }
                    </td>
                }
        </tr>

    }
    
</table>

@* @boardJson; *@